/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* STYLES */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
}

.card {
    background: #FFF;
    border-radius: 10px;
    min-width: 35vw;
    min-height: 50vh;
    font-size: 90px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
  align-self: center;
}

.symbol.red {
  color: red;
}

.symbol:last-of-type {
  align-self: flex-end;
}